#boton{
    display: block;
    padding: 20px;
    background-color: orangered;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border: 1px solid orange;
    border-radius: 5px;
    transition: all 3s;
    /**transition: border 500ms, background 3s, border-radius 1s; */
}
#boton:hover{
    border-radius: 7px;
    border: 3px solid orange;
    background-color: orange;
}
#caja{
    margin-top: 25px;
    margin-left: 20px;
    width: 250px;
    height: 250px;
    background: aquamarine;
    color: blue;
    line-height: 250px;
    text-align: center;
    border: 5px solid cornflowerblue;
    
    animation-name: desplazamiento;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes desplazamiento{
    0%{
        margin-left: 20px;
        transform: rotate(0deg);
    }
    50%{
        margin-left: 1200px;
        transform: rotate(360deg);
        border-radius: 999px;
    }
    75%{
        background-color: orangered;
    }
    100%{
        margin-left: 20px;
        transform: rotate(0deg);
    }
}